@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>Step into our bakery, where every slice tells a story and every bite is a moment of pure delight. 
    Welcome to @MyEcommerceWeb.Data.Constants.SHOP_NAME, where we craft more than just cakes;
    we create edible works of art that tantalize the taste buds and capture the heart. 
    From weddings to birthdays, celebrations big and small find their perfect centerpiece in our decadent creations.
    Indulge in the sweet symphony of flavors and textures expertly combined in each slice, as we invite you to experience the magic baked into every confection.
    Join us in savoring life's sweetest moments, one delectable cake at a time.</p>
