@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>

<p>Contact us <a href="info@debakery.lt">info@debakery.lt</a></p>

<p><a>Facebook link</a></p> 
<p><a>Instagram link</a></p>

<p>=================================================================</p>

<p>
    <h5>Savanorių pr. 876, Kaunas</h5>
    <p> Tel. +370 600 00 000</p>
    <p>Darbo laikas:</p>
    <p>I–V 8.00–18.00</p>
    <p>VI-VII 8.00–15.00</p>
</p>

<p>=================================================================</p>

<p>
    <h5>Laisvės al. 456, Kaunas</h5>
    <p> Tel. +370 600 00 000</p>
    <p>Darbo laikas:</p>
    <p>I–V 8.00–18.00</p>
    <p>VI-VII 8.00–15.00</p>
</p>