@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
    <img src="~/main.png" alt="image of the shop" />
    <h1 class="display-4">Welcome to @MyEcommerceWeb.Data.Constants.SHOP_NAME</h1>
    <p>Lets make world a sweater place</p>
</div>
